body{
	background: #EEEFF3;
	margin :0;
	display: flex;
	justify-content: center;
}

.conteiner{
	background: #2C3D4F;
	height: 908px;
	width: 700px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.conteiner__pantalla, .conteiner__pantalla{
	height: 208px;
	width: 700px;
	margin: 0;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 46px;
}

.pantalla{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 100px;
	background: #97D1DC;
	box-shadow:10px 10px 0 1px #67969E inset;  
	width: 571px;
	height: 131px;
}

.data__numero , .data__operacion, .data__borrar, .data__igual{
	font-family: Verdana;
	box-shadow: 0px 0px 0px 6px #3A5069 inset;
	background: #486381;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: inherit;
	width: inherit;
	font-size: 40px;
	color:white;
}	

.data__numero{
	box-shadow: 0px 0px 0px 6px #3A5069 inset;
	background: #486381;
}
.data__numero:hover{
	box-shadow: 0px 0px 0px 6px #3A5069 inset;
	background: black;
}

 .data__operacion, .data__borrar{
 	box-shadow: 0px 0px 0px 6px #5C7FA2 inset;
	background: #628BB7;
 }

  .data__operacion:hover, .data__borrar:hover{
 	box-shadow: 0px 0px 0px 6px #5C7FA2 inset;
	background: black;
 }

 .data__igual{
 	box-shadow: 0px 0px 0px 6px #D65007 inset;
	background: #FF751E;
 }

 .data__igual:hover{
 	box-shadow: 0px 0px 0px 6px #D65007 inset;
	background: black;
 }

.conteiner__botones{
	max-width: 571px;
	height: 654px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.tamano__botones{
	height: 111px;
	width: 120px;
}

.tamano__botones__borrar{
	height: 68px;
	width: 120px;
}

