@import "variables";

.conteiner__botones{
	max-width: 571px;
	height: 654px;
	display: flex;
	justify-content: space-between;
    flex-wrap: wrap;
    .botonNumero , .btnOperacion, .botonBorrar, .btnIgual{
	font-family: Verdana;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	height: inherit;
	width: inherit;
	font-size: 40px;
	color:white;
    }	

}

.botonNumero{
	box-shadow: 0px 0px 0px 6px $colorbordeBotonNumero inset;
	background: $colorBotonNumero;
    transition-duration: .1s;
        &:active{
	    background: $colorBordeBotonNumeroActive;
	    font-size: 70px;
    }
}

 .btnOperacion, .botonBorrar{
 	box-shadow: 0px 0px 0px 6px $colorBordeBotonOperacionBorrar inset;
	background: $colorBotonOperacionBorrar;
    transition-duration: .1s;
        &:active{
	    background: $colorBotonOperacionActive;
	    font-size: 70px;
    }
 }

 .btnIgual{
 	box-shadow: 0px 0px 0px 6px $colorBordeBotonIgual inset;
	background: $colorBotonIgual;
    transition-duration: .1s;
        &:active{
	    background: $colorBotonIgualActive;
        font-size: 70px;
    }
 }

.tamano__botones{
	height: 111px;
	width: 120px;
}

.tamano__botones__borrar{
	height: 68px;
	width: 120px;
}


