@import "variables";
@import "header";
@import "calculadora";
@import "pantalla";
@import "botones";
@import "footer";



 body{
	background: $colorBlanco;
	margin :0 auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center; 
   }











