.calculadora
    .calculadora__header

    .calculadora__body(data-numero="numero")
        .btn.btn--operacion(data-operacion="borrar")
            | CE
        .btn.btn--operacion
            | C
        .btn.btn--operacion

        .btn.btn--operacion

        .btn.btn--num(data-valor="7")
            | 7
        .btn.btn--num(data-valor="8")
            | 8
        .btn.btn--num(data-valor="9")
            | 9
        .btn.btn--operacion
            | /
        .btn.btn--num(data-valor="4")
            | 4
        .btn.btn--num(data-valor="5")
            | 5
        .btn.btn--num(data-valor="6")
            | 6
        .btn.btn--operacion
            | *
        .btn.btn--num(data-valor="1")
            | 1
        .btn.btn--num(data-valor="2")
            | 2
        .btn.btn--num(data-valor="3")
            | 3
        .btn.btn--operacion
            | -
        .btn.btn--num(data-valor="0")
            | 0
        .btn.btn--num
            | .
        .btn.btn--operacion
            | +
        .btn.btn--igual(data-operacion="igual")
            | =