.calculadora{
    max-width:370px;
    margin: 0 auto;
    background: #2C3D4F;
    padding: 40px 30px 30px 30px;
    &__header{
        background: #97D1DC;
        height: 80px;
        margin-bottom: 20px;
        border-top: 8px solid #69989E;
        border-left: 8px solid #69989E;
        display: flex;
        align-items: center;
        color: #000;
        font-size: 50px;
        overflow: hidden;
    }
    &__body{
        display: grid;
        grid-template-columns: repeat(4,80px);
        grid-template-rows: repeat(5,80px);
        grid-gap: 15px;
    }
}