 $colorBlanco : #F5F5F5;
 $colorCalculadora : #2C3D4F;
 $colorPantalla :#97D1DC;
 $colorBordePantalla :#67969E;
 $colorBotonNumero: #486381;
 $colorbordeBotonNumero : #3A5069;
 $colorBordeBotonNumeroActive : #3A5069;
 $colorBotonOperacionBorrar : #628BB7;
 $colorBordeBotonOperacionBorrar :#5C7FA2;
 $colorBotonOperacionActive : #3B577A;
 $colorBotonIgual : #FF751E ;
 $colorBordeBotonIgual : #D65007;
 $colorBotonIgualActive : #FE6205;

